  version: '3.9'

  services:
    app-blue:
      image: jywon1128/dummy-app:${TAG}
      container_name: app-blue
      networks:
        - appnet

    app-green:
      image: jywon1128/dummy-app:${TAG}
      container_name: app-green
      networks:
        - appnet

    nginx:
      image: nginx:latest
      container_name: nginx
      ports:
        - "80:80"
      volumes:
        - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      networks:
        - appnet

  networks:
    appnet:
      driver: bridge